.header-box{
    width:90%;
    display:flex;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}

.text-box{
    width:40%
}

.changeCity-box{
    width:40%
}

.header-text{
    font-size:40px;
    color:#fff
}
.exit-box{

    width:20%;
    display:flex;
    justify-content:flex-end;
}

.icon-exit{
    width:40px;
    align-self:center;
    cursor:pointer
}